.header {
    z-index: 10;
    // overflow: hidden;
    

    @include responsive(MobileTablet) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    &__container{
        display: flex;
        max-height: $header-height;
        align-items: center;
        justify-content: space-between;

        @include responsive(Mobile){
            justify-content: space-around;
        }

        &-logo{
            display: flex;
            align-items: center;
            height: $header-height;

            &-img{
                cursor: pointer;
                margin-right: 20px;
            }
            &-slogan{
                font: italic 1.6rem "Times New Roman", Times, Georgia, serif;
                color: rgba(255, 255, 255, .35);
            }
        }
    }

    &__nav{
        height: $header-height;

        &-list{
            list-style: none;
            display: flex;
            margin: 0;

            @include responsive(MobileTablet) {
                flex-direction: column;
                background-color: transparent;
                padding: 0;
            }
        }

        &-item{
            border-left: 1px solid #2c323c;
            height: $header-height;

            @include responsive(MobileTablet) {
                border:unset;
                height: 100%;
                background-color: transparent;
            }

            &:last-child{
                border-right: 1px solid #2c323c;

                @include responsive(MobileTablet) {
                    border: unset;
                }
            }
            
            &-link{
                color: $white-color;
                font-size: 1.6rem;
                font-weight: 300;
                padding: 0px 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: $header-height;

                @include responsive(MobileTablet) {
                    justify-content: flex-end;
                    // flex-direction: row-reverse;
                }

                &:hover{
                    background-color: #068fd5;
                }

                & i{
                    margin-right: 10px;

                    @include responsive(MobileTablet) {
                        margin: 0 0 0 20px;
                    }
                }

                & .fa, & .fas{
                    font-weight: 600;
                }
            }
        }

        &-mt{
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
            cursor: pointer;
            // z-index: 12;


            &-open{
                border: 1px solid rgba(255, 255, 255, .5);
            }

            &-content{
                position: fixed;
                top: 0;
                bottom: 0;
                right: -80%;
                // z-index: 100;
                // background-color: #373737;
                background-color: #b5b5b5;
                transition: .4s all ease-out;
                animation: fadeIn ease-out .2s;

                @include responsive(Tablet) {
                    width: 40%;
                }

                @include responsive(Mobile) {
                    width: 70%;
                }
            }

            &-close{
                cursor: pointer;
                margin: 0;
                padding: 0px 20px;
                height: calc(#{$header-height} - 2px);
                font-size: 1.6rem;
                // text-align: right;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}